<template>
	<div class="flex bg-gradient-to-r from-blue-500 via-blue-400 to-blue-500">
		<div class="logo flex-none flex justify-center items-center w-full md:w-1/3 h-16">
			<a href="/">
				<h1 class="text-white font-black text-xl font-sans">DIRECTORIO PUEBLA</h1>
			</a>
		</div>
		<div class="center flex-grow flex justify-center items-center w-full md:w-1/3">
			
		</div>
		<div class="options flex-none flex justify-center items-center w-full md:w-1/3 h-16">
			
		</div>
	</div>
</template>
<script>
	
</script>
<style>
	
</style>