<template>
	<div class="container px-2 mx-auto my-8 max-w-screen-lg">
		<form action="#" v-on:submit.prevent="doSearchWithQuery">
			<div class="md:flex flex-grap content-center justify-between">
				<input type="text" v-model="localSearchString" placeholder="Pastelarías, interiores, aire acondicionado... lo que quieras!" class="w-full md:w-4/5 border border-blue-500 rounded p-4 focus:ring-2 bg-transparent focus:ring-blue-600 active:ring-2 active:ring-blue-600" />
				<input type="submit" value="Buscar" class="w-1/2 mx-auto block md:w-1/6 border border-blue-300 rounded bg-blue-400 text-white font-black font-sans my-2 p-2" />
			</div>
		</form>
	</div>
</template>
<script>
	import axios from 'axios'
	import { mapState, mapMutations, mapActions } from 'vuex'
	export default{
		data(){
			return {
				localSearchString:'',
			}
		},
		created(){

		},
		methods:{
			...mapActions(['setSearchStringAction', 'setFilterResultsAction']),
			...mapMutations(['setResults']),
  		async doSearchWithQuery() {
  			console.log(this.localSearchString)
				this.setSearchStringAction(this.localSearchString.toLowerCase());
				let tempFilterResults = [];
				//tempFilterResults = this.results.filter((item) => item.bName.includes(this.searchString));
				const ambito = this
				tempFilterResults = this.results.filter(function(item){
					if(item.bName != null && item.bName.toLowerCase().includes(ambito.searchString) ){
						return item
					}
					if(item.bSlug != null && item.bSlug.toLowerCase().includes(ambito.searchString) ){
						return item
					}
					if(item.bTagLine != null && item.bTagLine.toLowerCase().includes(ambito.searchString) ){
						return item
					}
					if(item.bWhatsApp != null && item.bWhatsApp.includes(ambito.searchString) ){
						return item
					}
					if(item.bPhone != null && item.bPhone.includes(ambito.searchString) ){
						return item
					}
					if(item.bEmail != null && item.bEmail.toLowerCase().includes(ambito.searchString) ){
						return item
					}
					if(item.bCategoryName != null && item.bCategoryName.toLowerCase().includes(ambito.searchString) ){
						return item
					}
					if(item.bLongDescription != null && item.bLongDescription.toLowerCase().includes(ambito.searchString) ){
						return item
					}
					if(item.bShortDescription != null && item.bShortDescription.toLowerCase().includes(ambito.searchString) ){
						return item
					}
					if(item.bURLWebsite != null && item.bURLWebsite.toLowerCase().includes(ambito.searchString) ){
						return item
					}
				});
				console.log(tempFilterResults)
				this.setFilterResultsAction(tempFilterResults);
				// comentamos la parte de redireccionar por que incialmente 
				// vamos a hacer la búsqueda a nivel local
  			//this.$router.push({ path: '/' })
  		},
		},
		computed: {
  		...mapState(['results','searchString', 'filterResults']),
  		localSearch () {
  			return this.results.filter((item) => item.name.includes(this.localSearchString));
  		}
  	}
	}
</script>