<template>
  <div class="container mx-auto mb-8 px-8">
    <no-ssr>
      <div class="flex flex-wrap">
        <div v-for="(item, i) in filterResults" :key="i" class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4">
          <a :href="'/negocio/'+item.bSlug">
            <div class="p-4">
              <div class="flex flex-col content-center">
                <div class="flex justify-center items-center">
                  <div class="flex flex-col justify-between w-full h-96 bg-white bg-center bg-cover rounded shadow-md overflow-hidden cursor-pointer border border-blue-100 shadow-xl" :style="{ backgroundImage: 'url(http://localhost:8000/storage/'+item.bFeaturedImage+')' }">
                    <div class="flex justify-between items-center ml-4 pr-8 h-12">
                      <a :href="'/categoria/'+item.catSlug">
                        <div class="text-white bg-opacity-95 shadow px-2 py-1 flex items-center font-bold text-xs rounded" :class="item.catColor">{{ item.bCategoryName  }}</div>
                      </a>
                      <div class="bg-red-600 w-10 h-12 shadow flex flex-col-reverse p-2 text-center font-bold text-white rounded-b-full" v-if="item.bIsInOffer" v-html="item.bOfferIcon"></div>
                    </div>
                    <div class="bg-white bg-opacity-95 shadow-md rounded-r-xl p-4 flex flex-col mr-4 mb-8">
                      <h3 class="text-lg font-bold pb-1">{{ item.bName }}</h3>
                      <p class="text-gray-500 text-md pb-1">{{ item.bTagLine }}</p>
                      <div class="flex justify-between items-center pb-1">
                        <span class="text-gray-400 text-sm">{{ item.bShortDescription }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </no-ssr>
  </div>
</template>

<script>
    import axios from 'axios'
    //import _ from 'lodash';
    import { mapState, mapMutations, mapActions } from 'vuex'
  export default{
      data() {
          return {
            queryString: '',
            localArray: []
          }
      },
      created () {
        console.log("created at search results")
        if(this.searchString !== ''){
          switch (this.typeSearch) {
              case 'category': 
                this.doSearchByCategory()
              break;
              case 'query':
                this.doSearchWithQuery()
              break;
              default:
                this.doSearch()
              break;
            }
        } else {
          if(!this.resultsFull){
            this.doSearch()
          }
        }
      },
      methods: {
        ...mapActions(['setFilterResultsAction']),
        ...mapMutations(['setResults']),
        async doSearch() {
          try {
              console.log("doing search")
              //const response = await axios.get(`${process.env.baseUrl}/?query=${this.searchString}`)
              //console.log(`${process.env.baseUrl}/?query=${this.searchString}`);
              const response = await axios.get(`${process.env.devBaseUrl}/api/business/`)
              console.log(`${process.env.baseUrl}/?query=${this.searchString}`);
              this.setResults(response.data.businesses)
              this.setFilterResultsAction(this.results);
          } catch (err) {
              console.error(err.response)
              this.setResults([])
          }
        },
        async doSearchByCategory() {
          try {
            console.log("doing search by category")
            console.log(this.searchString);
            const response = await axios.get(`${process.env.devBaseUrl}/api/business/category/${this.searchString}`)
            console.log(`${process.env.devBaseUrl}`);
            this.setResults(response.data.businesses)
            this.setFilterResultsAction(this.results);
          } catch (err) {
            console.error(err.response)
            this.setResults([])
          }
        },
        async doSearchWithQuery() {
          try {
            console.log("doing search with query")
            console.log(this.localSearchString);
            const response = await axios.get(`${process.env.devBaseUrl}/api/business/?query=${this.localSearchString}`)
            console.log(`${process.env.devBaseUrl}`);
            this.setResults(response.data.businesses)
          } catch (err) {
            console.error(err.response)
            this.setResults([])
          }
        },
        localSearchFunction() {
          // aqui la idea es hacer un filter del array principal y después asignarlo a nuestra variable local para que pueda imprimirse

        },
        goItem(id) {
          this.$router.push({ name: 'single', params: { bID: id } })
        }
      },
      computed: {
          ...mapState(['results','searchString', 'filterResults', 'resultsFull', 'typeSearch']),
          localSearch () {
              return this.results.filter((item) => item.name.includes(this.searchString));
          }
      }
  }
</script>  