<template>
  <div class="mb-12">
    <HeaderBar />
    <SearchBar />
    <div class="container mx-auto lg:max-w-screen-lg">
      <div class="flex flex-row flex-wrap justify-start items-stretch border border-blue-100 rounded bg-gray-100 shadow-xl">
        <div class="w-full sm:w-2/5 p-6">
          <img :src="'http://localhost:8000/storage/'+item.bFeaturedImage" alt="" class="shadow-xl rounded">
          <p class="my-6 text-right"><a :href="'/category/'+item.catSlug" class="p-2 font-bold text-xs text-white rounded" :class="item.catColor">{{ item.bCategoryName }}</a></p>
        </div>
        <div class="w-full sm:w-3/5 bg-white bg-opacity-70">
          <div class="p-6 min-h-full">
            <!-- <h1>ID del negocio: {{ item.bID }}</h1> -->
            <div class="flex flex-row justify-between wrap items-center w-full pb-4">
              <h1 class="text-5xl font-bold text-blue-500" v-if="item.bName" >{{ item.bName }}</h1>
              <!-- <h2>ID de la categoría del negocio: {{ item.id }}</h2> -->
              <a href="" class="block"><span class="text-3xl font-bold text-blue-500" v-if="item.bAlias">{{ item.bAlias }}</span></a>
            </div>
            <p class="mt-2 text-2xl text-gray-500" v-if="item.bTagLine">{{ item.bTagLine }}</p>
            <p class="whitespace-pre-line mt-2 text-lg text-gray-500" v-if="item.bShortDescription">{{ item.bShortDescription }}</p>
            <div class="w-full flex flex-row justify-start mt-6" v-if="item.bReputation">
              <fa :icon="['fas','star']" class="text-yellow-300 text-xl" />
              <fa :icon="['fas','star']" class="text-yellow-300 text-xl" />
              <fa :icon="['fas','star']" class="text-yellow-300 text-xl" />
              <fa :icon="['far','star']" class="text-yellow-300 text-xl" />
              <fa :icon="['far','star']" class="text-yellow-300 text-xl" />
            </div>
            <p class="whitespace-pre-line mt-6 text-gray-500" v-if="bLongDescriptionWithBRs">{{ bLongDescriptionWithBRs }}</p>
            <h2 class="text-xl font-bold mt-8 mb-2 text-gray-500">Datos de contacto</h2>
            <table>
                <tr v-if="item.bEmail">
                    <td class="bg-gray-100 p-6">Correo electrónico:</td>
                    <td><span class="text-gray-400 p-6 font-bold">{{ item.bEmail }}</span></td>
                </tr>
                <tr v-if="item.bPhone">
                    <td class="bg-gray-100 p-6">Teléfono:</td>
                    <td><span class="text-gray-400 p-6 font-bold">{{ item.bPhone }}</span></td>
                </tr>
                <tr v-if="item.bWhatsApp">
                    <td class="bg-gray-100 p-6">WhatsApp:</td>
                    <td><span class="text-gray-400 p-6 font-bold">{{ item.bWhatsApp }}</span></td>
                </tr>
                <tr v-if="item.bURLWebsite">
                    <td class="bg-gray-100 p-6">Sitio Web:</td>
                    <td><span class="text-gray-400 p-6 font-bold">{{ item.bURLWebsite }}</span></td>
                </tr>
            </table>
            <div v-if="item.bGPSLat && item.bGPSLng">
              <h2 class="text-xl font-bold mt-8 mb-2 text-gray-500">Ubicación</h2>
              <!--<span class="text-gray-400 p-6 font-bold">{{ item.bURLGoogleMaps }}</span>-->
              <!--<iframe :src="item.bURLGoogleMaps+'?key=AIzaSyAHlDJU-aUvKhMti8gwklCkpo_yucZMWZY'" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
              <!--<img :src="urlMap" alt="">-->
              <!-- <div id="mapview"></div>-->
              <div id="map" style="height: 300px;"></div>
            </div>
            <!--<p class="mt-2">Correo electrónico: <span class="text-gray-400">{{ item.bEmail }}</span></p>
            <p class="mt-2">Teléfono: <span class="text-gray-400">{{ item.bPhone }}</span></p>
            <p class="mt-2">WhatsApp: <span class="text-gray-400">{{ item.bWhatsApp }}</span></p>
            <p class="mt-2">Sitio web: <span class="text-gray-400">{{ item.bURLWebsite }}</span></p>-->
            <!--<p class="mt-2">Ubicación de google maps: <span class="text-gray-400">{{ item.bURLGoogleMaps }}</span></p>
            <p>Is in offer: {{ item.bIsInOffer }}</p>
            <p>Icono de la oferta: {{ item.bOfferIcon }}</p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapState, mapActions } from 'vuex'

import HeaderBar from '@/components/Navbars/HeaderBar.vue';
import SearchBar from '@/components/Navbars/SearchBar.vue';

import { Loader } from '@googlemaps/js-api-loader';


//import { loader } from '@/constants/googleMaps_loader.js';


export default {
  data() {
    return {
      googleMaps: true,
      //urlMap: 'https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284&key=AIzaSyAHlDJU-aUvKhMti8gwklCkpo_yucZMWZY'
    }
  },
  components: {
    HeaderBar,
    SearchBar
  },
  created () {
    this.doGetItem()
  },
  methods: {
    ...mapActions(['setItemAction']),
    async doGetItem() {
      try {
        const loader = new Loader({
          apiKey: "AIzaSyAHlDJU-aUvKhMti8gwklCkpo_yucZMWZY",
          version: "weekly",
          libraries: ["places"]
        })
        const response = await axios.get(`${process.env.devBaseUrl}/api/business/slug/${this.$route.params.slug}`)
        console.log(this.$route.params.slug)
        this.setItemAction(response.data.business[0])
        if( this.item.bGPSLat && this.item.bGPSLng ){
          const localLat = parseFloat(this.item.bGPSLat);
          const localLng = parseFloat(this.item.bGPSLng);
          const mapOptions = {
            center: {
              lat: localLat,
              lng: localLng
            },
            zoom: 15
          };
          loader
          .load()
          .then((google) => {
            var myLatlng = new google.maps.LatLng(localLat,localLng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                title: this.item.bName
            })
            const contentString = '<h1 class="text-lg font-bold pt-2 pb-1">'+this.item.bName+'</h1>';
            const infowindow = new google.maps.InfoWindow({
              content: contentString,
            });
            marker.addListener("click", () => {
              infowindow.open(map, marker);
            });
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            marker.setMap(map);
          })
          .catch(e => {
            console.log(e);
          });
        }
      } catch (error) {
       console.error(error) 
      }
    }
  },
  computed: {
    ...mapState(['item']),
    bLongDescriptionWithBRs: function() {
      if(this.item.bLongDescription){
        const doc = this.item.bLongDescription
        return doc.replace(/<br\s*[\/]?>/gi, '\n')
      } else {
        return '';
      }
    }
  }
}
</script>
