<template>
  <div>
    <HeaderBar />
    <SearchBar />
    <SearchResults />
  </div>
</template>

<script>
import HeaderBar from '@/components/Navbars/HeaderBar.vue';
import SearchBar from '@/components/Navbars/SearchBar.vue';
import SearchResults from '@/components/SearchResults.vue';
export default {
  components: {
    HeaderBar,
    SearchBar,
    SearchResults
  }
}
</script>
