<template>
  <div>
    <HeaderBar />
    <SearchBar />
    <SearchResults />
  </div>
</template>

<script>
import HeaderBar from '@/components/Navbars/HeaderBar.vue';
import SearchBar from '@/components/Navbars/SearchBar.vue';
import SearchResults from '@/components/SearchResults.vue';

import { mapActions } from 'vuex'

export default {
  components: {
    HeaderBar,
    SearchBar,
    SearchResults
  },
  created () {
    console.log("created at search results cat slug view")
    console.log(this.$route.params.slug)
    this.setTypeSearchAction('category')
    this.setSearchStringAction(this.$route.params.slug)
  },
  methods:{
    ...mapActions(['setSearchStringAction', 'setTypeSearchAction']),
  }
}
</script>
